body {
  background-color: #fefae0;
  padding: 80px 100px;
  font-family: "Philosophor", sans-serif;
}

.root {
  font: size 13px;
  font-family: "Philosopher", sans-serif;
  margin-bottom: 15px;
}

.navigation-items a {
  color: red;
  text-decoration: none;
}
