body {
    background-color: #bebdbd;
}

button {
    font-size: 30px;
    background-color: #DAF0EE;
}

h1,
h2 {
    color: #3B413C
}

#signup {
    background-color: #3B413C;
    color: white;

}

.tag {
    color: #264653;
    background-color: #e9c46a;
    font-size: 16px;
}

.post a {
    color: red;
    font-weight: bold;
    text-decoration: none;
}

footer a {
    color: aqua;
}


footer>a {
    color: magenta
}

input[type="password"] {
    color: green
}

a[href*="google"] {
    color: lemonchiffon
}


a:hover {
    text-decoration: underline;
}

.post button:active {
    background-color: #2a9d8f;
}

.post:nth-of-type(2n) {
    background-color: #dfe8dc;
}

h2::first-letter {
    font-size: 50px;
}

button:hover {
    background-color: olive;
}

.post button:hover {
    background-color: red;
    color: #DAF0EE
}