header a {
    font-size: 30px;
    color: teal;
}


#dislikes a {
    color: red;
    font-weight: bold;

}

/* DO NOT TOUCH THIS FILE!!!  */
.square {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid black;
}

#board {
    display: flex;
    margin: 0 auto;
    width: 500px;
    flex-wrap: wrap;
}

/* DO NOT TOUCH THIS FILE!!!  */

.square:nth-of-type(2n+1) {
    background-color: red
}

.square:nth-of-type(2n) {
    background-color: black
}

.about .heading {
    color: orange;
}

.about h2.heading {
    color: pink;
}

section.about .heading {
    color: yellow;
}